
.display_message{
  /* background-color: lightgray;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px; */
}
.display{
  width: 100%;
  margin-bottom: 40px;
}
.messages{
  background-color: black;
  width: 500px;
}
.display-bg{
//background: rgba(0,0,0,0.2) !important;
  background-color: black;
}

.timeOfPripare{
  width: 100%;
  height: 15px;
  border: 1px solid black;
  padding: 4px;
}

.coffeIcon{
  font-size: 3rem;
  color: lightgray;
}
